{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>


<div class="jumbotron"   >
      <h1 class="display-5" style="font-family:verdana;"  ><center><strong>E0 TESTS EXECUTION AND RESULTS STORAGE</strong> </center> </h1>

    <h2 class="display-7" style="font-family:courier;"  ><center>To track and execute E0 automatic or manual tests in local or cloud, dockerised containers.</center> </h2>


    <h3 class="lead"  style="font-family:courier;" ><center>Writer User.  With Oauth Sec.  Replicable, scalable, infrastructure as coode.</center></h3>
      <h7 class="alignleft" style="color:white;background-color:#708090 ;  float : right ; margin-block-start: 1.2em ; margin-block-end: 1em ; line-height:2em; " >
          &nbsp;&nbsp;<input type="checkbox"   name="optradio" checked>&nbsp;&nbsp;LOGGED IN AS : &nbsp;<strong>{{passed_user_info}}</strong>  &nbsp;&nbsp;  </h7>


  </div>

<div class="twoToneCenter">






<script language="javascript">
    function changeImage(image_id, label) {

            <!-- document.getElementById("demo").innerHTML = document.getElementById(image_id).src;-->
             <!-- document.getElementById("showme").innerHTML = document.getElementById(image_id).src; -->


            document.getElementById(image_id).src = "static/loader.gif";
            document.getElementById(image_id).width = "30";
            document.getElementById(image_id).height="30";
            document.getElementById(label).innerHTML = "&nbsp;&nbsp;TEST RUNNING . . ."
            document.getElementById(label).style=" color:DeepSkyBlue;  "


    }
</script>

</div>


<script>


  function inputChange(image_id, label) {

    document.getElementById(image_id).src = "static/empty2.png";
    document.getElementById(image_id).width = "30";
    document.getElementById(image_id).height="30";
    document.getElementById(label).innerHTML= "&nbsp;TEST NOT STARTED"
    document.getElementById(label).style=" color:black; margin-right: 3.0em; "

  };
</script>

<p>Current path :&nbsp;&nbsp;&nbsp;&nbsp;{{passed_file_path}}</p>

  <div class="row" >

    <div class="col-sm-12"   >
<section class="border py-0">
        <h2 style="color:white;background-color:#708090 ; line-height:2.00em;   " >&nbsp;&nbsp;E0 TESTS NOT STARTED&nbsp;&nbsp;  </h2>

        {% for eachrow in passed_items_todo %}   
           <ul class="list-group mb-4" style="PADDING-LEFT: 30px " >
            <li style="line-height:5.5em;" >Item : {{eachrow['title']}}&nbsp; |  &nbsp;Created on : {{eachrow['mongodate']}} &nbsp; | &nbsp;Owner  : {{eachrow['owner']}} </li>
            <!-- <li>Item was created on :  {{eachrow['mongodate']}}</li> -->


            <div style="display: flex ;  justify-content: left " >
                <form action="/change_owner" method="POST"  class="form-inline">
                    <input type="hidden" id="title" name="title" value="{{ eachrow.title }}">
            <input type="text"  class="form-control"  id="owner" name="owner" value={{passed_user_info}}>&nbsp;&nbsp;
          <button class="btn btn-secondary"  id='btn1' type="submit" style="color:black; background-color:WhiteSmoke;" >&nbsp;&nbsp;Change Owner&nbsp; </button>

            </form>&nbsp;&nbsp;&nbsp;
            <form action="/move_to_doing_item" method="POST">
            <input type="hidden" class="form-control" id="todo.title" name="item_title" value="{{ eachrow.title }}">
              <button class="btn text-right" id='btn1' type="submit" style="color:white; background-color:DeepSkyBlue  " >&nbsp;&nbsp;MOVE TO IN PROGRESS&nbsp; </button>

            </form>




           </div>
               </ul>
    <hr class="my-1">
            {% endfor %}


      <h2 style="color:white;background-color:#708090 ;  line-height:2.00em;   ">&nbsp;&nbsp;E0 TESTS IN PROGRESS&nbsp;</h2>


        {% for eachrow in passed_items_doing %}
           <ul class="list-group mb-4" style="PADDING-LEFT: 30px;">
            <li  style="display: flex ;  justify-content: left; line-height:5.5em;   ">Item : {{eachrow['title']}}&nbsp; | &nbsp;Owner  : {{eachrow['owner']}} | &nbsp;Test executed :  {{eachrow['Execution_date']}}

            </li>
            

          <div >
          <form action="/move_to_done_item" method="POST" style = " float : left ; margin-right: 16.0em;">
              <input type="hidden" id="todo.title" name="item_title" value="{{ eachrow.title }}">
                <button class="btn text-right" id='btn1' type="submit"  style="color:white; background-color:MediumSeaGreen " >&nbsp;COMPLETE E0 TEST&nbsp;</button>

              </form>


              <!-- margin-right: 4.5em; -->
              <form action="/test_script" method="POST"  class="form-inline"  >
                 &nbsp; <label style="line-height:2.2em;"   >&nbsp;&nbsp;TEST SCRIPT :&nbsp; </label> &nbsp;
                  <input type="hidden" class="form-control" id="doing.title" name="doing_title" value="{{ eachrow.title }}">
                  <input type="text"  class="form-control"  id="script" name="script" value="{{ eachrow.Test_script_name }}" oninput="inputChange('{{eachrow['title']}}', '{{eachrow['title']}}label')">&nbsp;&nbsp;
                  <button class="btn btn-secondary " id='run_script' type="submit"  style="color:black; background-color:WhiteSmoke;"

                  onclick="changeImage( '{{eachrow['title']}}', '{{eachrow['title']}}label' )"

                  >&nbsp;RUN&nbsp;</button>&nbsp;&nbsp;


                  <!-- {{eachrow.Test_script}} -->
                  {% if  eachrow.Test_script  == "Failed" %}

                  &nbsp;<img id="{{eachrow['title']}}" src="{{ url_for('static', filename= 'wrong.png'    ) }}" , width="30" height="30" />
                  <label id ="{{eachrow['title']}}label" style=" color:IndianRed;  "  >&nbsp;TEST FAILED ! &nbsp; </label>

                  {% elif eachrow.Test_script  == "Success"  %}

                   <img id="{{eachrow['title']}}"  src="{{ url_for('static', filename= 'right.png'    ) }}" , width="45" height="35" />
                   <label id ="{{eachrow['title']}}label" style=" color:green;  " >TEST SUCCEEDED </label>

                 {% elif eachrow.Test_script  == "testfile not found"  %}

                   &nbsp;<img id="{{eachrow['title']}}"  src="{{ url_for('static', filename= 'empty2.png'    ) }}" , width="30" height="30" />
                   <label id ="{{eachrow['title']}}label"   >&nbsp;TEST NOT FOUND !&nbsp; </label>

                  {% elif eachrow.Test_script  == "Test not valid"  %}

                   &nbsp;<img id="{{eachrow['title']}}"   src="{{ url_for('static', filename= 'empty2.png'    ) }}" , width="30" height="30" />
                   <label id ="{{eachrow['title']}}label" >&nbsp;TEST NOT VALID&nbsp; </label>

                  {% else  %}

                 &nbsp;<img id="{{eachrow['title']}}"  src="{{ url_for('static', filename= 'empty2.png'    ) }}" , width="30" height="30" />
                   <label id ="{{eachrow['title']}}label" >&nbsp;TEST NOT STARTED </label>


                  {% endif %}
            </form>




            </div>

            <!-- <label style=" display: flex ;  justify-content: right  ;  margin-right: 16.0em; margin-block-start: 0.2em ;  color:IndianRed;  "  >&nbsp;&nbsp;TEST FAILED&nbsp; </label> -->

          <!-- justify-content: left   -->
      </ul>
     <hr class="my-1">
    <!-- <h1 style="color:white; margin-block-start: 0.85em ; background-color:#708090 ;  line-height:0.02em;   ">&nbsp; </h1> -->
    {% endfor %}



      <h2 style="color:white;background-color:#708090 ;  line-height:2.00em;   ">&nbsp;&nbsp;E0 TESTS COMPLETED&nbsp; </h2>


        {% for eachrow in passed_items_done %}
    <ul class="list-group mb-4" style="PADDING-LEFT: 30px">
            <li style="line-height:5.5em;" >Item : {{eachrow['title']}}&nbsp; | &nbsp;Owner  : {{eachrow['owner']}}  </li>

            <form action="/move_to_todo_item" method="POST">
              <input type="hidden" id="todo.title" name="item_title" value="{{ eachrow.title }}"> 
                <button class="btn text-right" id='btn1' type="submit"  style="color:white; background-color:orange " >&nbsp;UNDO E0 TEST&nbsp;</button>
            </form>

            </ul>
             <hr class="my-1">
            {% endfor %}

            <details  >
              <summary style="PADDING-LEFT: 30px ; line-height:5.5em; "       >Older items from E0 tests completed list</summary>


              {% for eachrow in passed_items_olddone %}   
                <ul class="list-group mb-4" style="PADDING-LEFT: 80px"    >
                <li style="line-height:5.5em;">Item : {{eachrow['title']}}&nbsp; | &nbsp;Status is : {{eachrow['status']}} &nbsp; | &nbsp;Owner  : {{eachrow['owner']}}  </li>
      
                  <form action="/move_to_todo_item" method="POST">
                    <input type="hidden" id="todo.title" name="item_title" value="{{ eachrow.title }}"> 
                      <button class="btn text-right" id='btn1' type="submit" style="color:white; background-color:orange "  >&nbsp;UNDO OLD E0 TEST&nbsp;</button>

                  </form>
                     </ul>
                <hr class="my-1">
                  {% endfor %}
                  </details>




      <h2 style="color:white; margin-block-start: 0.85em ; background-color:#708090 ;  line-height:0.05em;   ">&nbsp; </h2>


        <!--
        <ul class="list-group mb-4"    >
       <center>
       <form action="/addmongoentry" method="post"   >

        <center><label for="title"  ><strong>Insert new E0 test  :&nbsp; </strong> </label>
            <input type="text" id="title" name="title">&nbsp;&nbsp;&nbsp;<button class="button button1"  >&nbsp;Add &nbsp;</button></center>

      </form>
      </ul> -->


    <!-- margin-block-end: 0.83em"; -->

    <div  style="display: flex ; margin-block-start: 1.5em ; margin-block-end: 1.5em  ; justify-content: center ; width : 100% ">

           <form action="/addmongoentry" method="post" class="form-inline" >


               <label for="title"  >INSERT NEW E0 TEST  :&nbsp; &nbsp; </label>
              <input type="text" class="form-control" id="title" name="title" >&nbsp;&nbsp;&nbsp;<button class="btn btn-secondary" style="color:black; background-color:WhiteSmoke;"  >ADD</button>
            </form>&nbsp;
           <form action="/deleteAllTests" method="post" class="form-inline" >
          &nbsp;&nbsp;<button class="btn btn-danger" id="deleteAll" name="deleteAll"  style="color:white; background-color:IndianRed; " onclick="return confirm('Are you sure you want to delete all E0 tests?');">&nbsp;DELETE ALL E0 TESTS &nbsp;</button>
            </form>

    </div>



    </div>
</section>

    </style>
    </head>

{% endblock %}